.countdown-container {
    background: rgb(172,167,113);
    background: -moz-linear-gradient(180deg, rgba(172,167,113,1) 0%, rgba(199,192,133,1) 50%, rgba(153,142,81,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(172,167,113,1) 0%, rgba(199,192,133,1) 50%, rgba(153,142,81,1) 100%);
    background: linear-gradient(180deg, rgba(172,167,113,1) 0%, rgba(199,192,133,1) 50%, rgba(153,142,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aca771",endColorstr="#998e51",GradientType=1);
    border: 5px solid black;

    position: absolute;
    right: 0;
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

h2 {
    color: black;
}

.time {
    color: red;
    font-size: 200%;
    font-weight: bolder;
    display: block;
}

.timer-type-switch, .countdown-trigger {
    display: block;
    margin: 0 auto;
    width: 180px;
    padding: 10px;
}

.countdown-trigger {
    margin-bottom: 10px;
}
