.whiteboard {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-height: 70vh;
    overflow-y: scroll;
}

.ghost-name-label {
    font-weight: bold;
    font-size: 140%;
    color: black;
}

.objective, .first-objective, input {
    display: block;
}

.first-objective, .behavior {
    color: darkblue;
    font-weight: bold;
}

.behavior {
    display: block;
    margin: 10px 0 5px 0;
}

.behavior-select {
    min-width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.objective {
    margin-top: 20px;
    color: black;
}

.session-objectives {
    margin: 0 auto;
    width: 85%;
}

.objective-selector, .ghost-name {
    margin: 0 auto;
    border-radius: 15px;
}

.ghost-name {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.objective-selector {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}
