.reset-button {
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    background: darkkhaki;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.evidence-controls {
    margin: 0 auto;
    margin: 40px;
}
