/** possible, negative */

.possible,
.negative,
.found {
    display      : inline-block;
    border       : 1px solid black;
    margin       : 10px 0 10px 12px;
    height       : 280px;
    width        : 210px;
    border-radius: 8px;

    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow   : 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow        : 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.possible {
    background: rgb(29, 107, 153);
    background: -moz-linear-gradient(180deg, rgba(29, 107, 153, 0.7) 0%, rgba(0, 74, 179, 0.7049194677871149) 100%);
    background: -webkit-linear-gradient(180deg, rgba(29, 107, 153, 0.7) 0%, rgba(0, 74, 179, 0.7049194677871149) 100%);
    background: linear-gradient(180deg, rgba(29, 107, 153, 0.7) 0%, rgba(0, 74, 179, 0.7049194677871149) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d6b99", endColorstr="#004ab3", GradientType=1);
}

.negative {
    background: rgb(194, 39, 39);
    background: -moz-linear-gradient(180deg, rgba(194, 39, 39, 0.7) 0%, rgba(73, 7, 7, 0.7049194677871149) 100%);
    background: -webkit-linear-gradient(180deg, rgba(194, 39, 39, 0.7) 0%, rgba(73, 7, 7, 0.7049194677871149) 100%);
    background: linear-gradient(180deg, rgba(194, 39, 39, 0.7) 0%, rgba(73, 7, 7, 0.7049194677871149) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr="#c22727", endColorstr="#490707", GradientType=1);
}

.found {
    background: rgb(39, 194, 88);
    background: -moz-linear-gradient(180deg, rgba(39, 194, 88, 0.7) 0%, rgba(7, 73, 18, 0.7049194677871149) 100%);
    background: -webkit-linear-gradient(180deg, rgba(39, 194, 88, 0.7) 0%, rgba(7, 73, 18, 0.7049194677871149) 100%);
    background: linear-gradient(180deg, rgba(39, 194, 88, 0.7) 0%, rgba(7, 73, 18, 0.7049194677871149) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr="#27c258", endColorstr="#074912", GradientType=1);
}

.ghost-name {
    font-weight: bolder;
    font-size  : 140%;
    margin     : 25px 0 10px 0;
}

@media (min-width: 600px) and (max-width: 1023px) {

    .possible,
    .negative,
    .found {
        height: 300px;
        width : 300px;
    }

    .ghost-picture {
        height         : 200px;
        width          : 100%;
        display        : flex;
        justify-content: center;
    }

    .ghost-picture img {
        height    : 100%;
        width     : 250px;
        object-fit: fill;
    }
}

@media (max-width: 599px) {

    .possible,
    .negative,
    .found {
        height: 300px;
        width : 80vw;
        margin: 10px 0px;
    }

    .ghost-picture {
        height         : 200px;
        width          : 100%;
        display        : flex;
        justify-content: center;
    }

    .ghost-picture img {
        height    : 100%;
        width     : 250px;
        object-fit: fill;
    }
}