@media only screen and (max-width: 360px){
    .left-edge-active,
    .center-active,
    .right-edge-active,
    .left-edge-inactive,
    .center-inactive,
    .right-edge-inactive {
        font-size: 80%;
        border: 1px solid black;
        width: 100px;
        padding: 8px;
        color: whitesmoke;
    }
}

@media only screen and (min-width: 361px){
    .left-edge-active,
    .center-active,
    .right-edge-active,
    .left-edge-inactive,
    .center-inactive,
    .right-edge-inactive {
        border: 1px solid black;
        width: 140px;
        padding: 8px;
        color: whitesmoke;
    }
}

.interaction-handle {
    display: none;
}

.switch-container {
    margin-top: 20px;
}

.left-edge-active,
.center-active,
.right-edge-active,
.left-edge-inactive,
.center-inactive,
.right-edge-inactive {
    border: 1px solid black;
    width: 140px;
    padding: 8px;
    color: whitesmoke;
    cursor: pointer;
}

.left-edge-inactive, .left-edge-active {
    border-radius: 10px 0 0 10px;
}

.right-edge-inactive, .right-edge-active {
    border-radius: 0 10px 10px 0;
}

.left-edge-active, .center-active, .right-edge-active {
    font-weight: bold;
}

.left-edge-active {
    background-color: darkred;
}

.center-active {
    background-color: darkblue;
}

.right-edge-active {
    background-color: #3e8e41;
}

.left-edge-inactive, .center-inactive, .right-edge-inactive {
    background-color: dimgrey;
}
