.evidence-container {
    color: rgba(0, 0, 0, 0.75);
    display: block;
    width: 100%;
    padding: 15px 0 0px 0;
    border-radius: 15px;
    margin: 20px 0 0 0;
}

.evidence-label {
    width: 180px;
}

.positive-switch-container,
.negative-switch-container {
    width: 100px;
}

.evidence-row {
    padding-top: 15px;
    height: 40px;
    display: inline-block;
}
