.map-list {
    list-style: none;
    width: 20%;
    color: black;
}

.map-list :last-child {
    border-bottom: 0.5px solid black;
}

.map-list-item-inactive, .map-list-item-active {
    padding: 20px;
    cursor: pointer;
}

.map-list-item-inactive {
    border-top: 0.5px solid black;
}

.map-list-item-inactive:hover {
    color: white;
    font-weight: bold;
    background-color: cornflowerblue;
    transition: 0.1s ease-in-out;
}

.map-list-item-active {
    background-color: #3e8e41;
}
