.evidence-row {
    display: inline-block;
    height: 100%;
    padding-bottom: 20px;
}

.evidence-row:first-child{
    margin-left: 0;
}

.evidence-icon {
    transform: scale(0.8);
    display: inline-block;
    margin-left: 5px;
}
