.evidence-table {
    margin: 0 auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid dimgrey;
}

tr :last-of-type {
    border-bottom: none;
}

th {
  padding: 10px 0;
}

td {
    width: 200px;
    padding: 10px 0;
}
