@media only screen and (min-width: 360px){
    .evidence-row {
        border-bottom: none;
        margin-bottom: 15px;
    }
}

.evidence-table {
    margin: 0 auto;
    display: inline-block;
    border-collapse: collapse;
}

.evidence-row {
    display: inline-block;
    padding: 20px;
}

.evidence-label, .switch-container {
    vertical-align: center;
    display: block;
    margin: 0 auto;
}

.evidence-label {
    font-weight: bolder;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.switch-container {
    margin-bottom: 200px;
}
