@media only screen and (max-width: 360px){
    .evidence-row {
        border-bottom: none;
        margin-bottom: 15px;
    }
}

.evidence-table {
    margin: 0 auto;
    display: inline-block;
    border-collapse: collapse;
}

.evidence-row {
    display: block;
    padding: 10px 0;
}

.evidence-label, .switch-container {
    vertical-align: center;
    display: inline-block;
}

.evidence-label {
    font-weight: bolder;
}
