.tabs-container {
    transform: rotate(90deg);
    z-index: 1;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

.utility-tab, .active-utility-tab {
    width: 160px;
    height: 70px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    display: block;
}

.utility-tab {
    background: rgb(223, 215, 122);
    background: -moz-linear-gradient(180deg, rgba(223, 215, 122, 1) 0%, rgba(199, 192, 133, 1) 50%, rgba(153, 142, 81, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(223, 215, 122, 1) 0%, rgba(199, 192, 133, 1) 50%, rgba(153, 142, 81, 1) 100%);
    background: linear-gradient(180deg, rgba(223, 215, 122, 1) 0%, rgba(199, 192, 133, 1) 50%, rgba(153, 142, 81, 1) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfd77a", endColorstr="#998e51", GradientType=1);
}

.active-utility-tab {
    color: whitesmoke;
    background: black;
}

.utilities-container {
    position: fixed;
    display: inline-block;
    left: 0;
    z-index: 1;
    height: 100vh;
    max-width: 20vw;
    min-width: 340px;
}
