.found-ghost-container {
    margin: 0 auto;
    padding: 30px 10px;
    width: 95%;
    border-radius: 15px;

    background: rgba(0, 0, 0, 0.2)
}

.found-ghost-card, .found-ghost-description {
    display: inline-block;
    vertical-align: top;
}

.found-ghost-card {
    width: 20%;
}

.found-ghost-description {
    position: relative;
    text-align: justify;
    padding-left: 20px;
    width: 70%;
}

.found-ghost-inner-text {
    margin: 0 auto;
    width: 80%;
}

ul {
    list-style: none;
}

h4 {
    text-align: center;
}
