.App {
  text-align: center;
  width     : 60vw;
  margin    : 0 auto;
  margin-top: 40px;
  height: 100vh;
}


@media (min-width: 600px) and (max-width: 1023px) {
  .App {
    display       : flex;
    flex-direction: column;
  }

  .App h1 {
    font-size    : 1.15rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 599px) {
  .App {
    display       : flex;
    flex-direction: column;
    width         : 90vw;
  }

  .App h1 {
    font-size    : .8rem;
    margin-bottom: 1.2rem;
  }

  .phasmophobia-logo {
    height: 120px;
    width: 280px;
    margin: 0 auto;
  }
}

.map-reference-link {
  padding: 35px 0;
  font-weight: bold;
  cursor: pointer;
  color: cyan;
}
